In [3]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
%cd /content/drive/My Drive/Colab Notebooks/ML_and_NN_course/Python for ML

/content/drive/My Drive/Colab Notebooks/ML_and_NN_course/Python for ML

# Pandas 
Pandas is a high-level data manipulation tool developed by Wes McKinney. It is built on the Numpy package and its key data structure is called the DataFrame. DataFrames allow you to store and manipulate tabular data in rows of observations and columns of variables.There are several ways to create a DataFrame.

## Dataframe
pd.read_csv() ->  https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [8]:
df=pd.read_csv('kc_house_data.csv') #specifying the directory
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [9]:
#Specifying the URL
df1=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [11]:
df1.head()

  Province/State Country/Region      Lat  ...  6/17/20  6/18/20  6/19/20
0            NaN    Afghanistan  33.0000  ...    26874    27532    27878
1            NaN        Albania  41.1533  ...     1722     1788     1838
2            NaN        Algeria  28.0339  ...    11268    11385    11504
3            NaN        Andorra  42.5063  ...      854      855      855
4            NaN         Angola -11.2027  ...      155      166      172

[5 rows x 154 columns]

In [13]:
data=pd.DataFrame()

data['x']=[1,2,0,3,4] 
data['y']=[1,2,0,3,4] 

data.insert(0, 'Ones', 2)
data.head()

   Ones  x  y
0     2  1  1
1     2  2  2
2     2  0  0
3     2  3  3
4     2  4  4

In [14]:
data = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                   'monkey', 'parrot', 'shark', 'whale', 'zebra']})
data.head()

      animal
0  alligator
1        bee
2     falcon
3       lion
4     monkey

## dataframe.describe()
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

In [15]:
df.describe()

                 id         price  ...  sqft_living15     sqft_lot15
count  2.161300e+04  2.161300e+04  ...   21613.000000   21613.000000
mean   4.580302e+09  5.400881e+05  ...    1986.552492   12768.455652
std    2.876566e+09  3.671272e+05  ...     685.391304   27304.179631
min    1.000102e+06  7.500000e+04  ...     399.000000     651.000000
25%    2.123049e+09  3.219500e+05  ...    1490.000000    5100.000000
50%    3.904930e+09  4.500000e+05  ...    1840.000000    7620.000000
75%    7.308900e+09  6.450000e+05  ...    2360.000000   10083.000000
max    9.900000e+09  7.700000e+06  ...    6210.000000  871200.000000

[8 rows x 20 columns]

## shape:
Pandas .size, .shape and .ndim are used to return size, shape and dimensions of data frames and series.

#### Syntax: dataframe.size

Return : Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.

#### Syntax: dataframe.shape

Return : Returns tuple of shape (Rows, columns) of dataframe/series

#### Syntax: dataframe.ndim

Return : Returns dimension of dataframe/series

In [18]:
df.size

453873

In [17]:
df.shape

(21613, 21)

In [19]:
df.ndim #bcz only row and columns

2

## df.columns

In [20]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

## Selecting a column

In [23]:
a=df['lat'] 
b= df.lat
b.head()

0    47.5112
1    47.7210
2    47.7379
3    47.5208
4    47.6168
Name: lat, dtype: float64

## Slicing

In [24]:
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [25]:
a=df.iloc[:,0:2]
a.head()

           id             date
0  7129300520  20141013T000000
1  6414100192  20141209T000000
2  5631500400  20150225T000000
3  2487200875  20141209T000000
4  1954400510  20150218T000000

In [26]:
a=df.iloc[2:,:5]
a.head()

           id             date      price  bedrooms  bathrooms
2  5631500400  20150225T000000   180000.0         2       1.00
3  2487200875  20141209T000000   604000.0         4       3.00
4  1954400510  20150218T000000   510000.0         3       2.00
5  7237550310  20140512T000000  1225000.0         4       4.50
6  1321400060  20140627T000000   257500.0         3       2.25

## Mean and std

In [27]:
import numpy as np

In [29]:
mn=np.mean(df)

In [30]:
mn.shape

(20,)

In [32]:
df.std()

id               2.876566e+09
price            3.671272e+05
bedrooms         9.300618e-01
bathrooms        7.701632e-01
sqft_living      9.184409e+02
sqft_lot         4.142051e+04
floors           5.399889e-01
waterfront       8.651720e-02
view             7.663176e-01
condition        6.507430e-01
grade            1.175459e+00
sqft_above       8.280910e+02
sqft_basement    4.425750e+02
yr_built         2.937341e+01
yr_renovated     4.016792e+02
zipcode          5.350503e+01
lat              1.385637e-01
long             1.408283e-01
sqft_living15    6.853913e+02
sqft_lot15       2.730418e+04
dtype: float64

## Droping a column
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

In [33]:
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [34]:
df = df.drop(['lat', 'long'],axis=1)

In [35]:
df.head()

           id             date     price  ...  zipcode  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ...    98178           1340        5650
1  6414100192  20141209T000000  538000.0  ...    98125           1690        7639
2  5631500400  20150225T000000  180000.0  ...    98028           2720        8062
3  2487200875  20141209T000000  604000.0  ...    98136           1360        5000
4  1954400510  20150218T000000  510000.0  ...    98074           1800        7503

[5 rows x 19 columns]

In [37]:
df['bedrooms'] +=2
df.head()

           id             date     price  ...  zipcode  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ...    98178           1340        5650
1  6414100192  20141209T000000  538000.0  ...    98125           1690        7639
2  5631500400  20150225T000000  180000.0  ...    98028           2720        8062
3  2487200875  20141209T000000  604000.0  ...    98136           1360        5000
4  1954400510  20150218T000000  510000.0  ...    98074           1800        7503

[5 rows x 19 columns]

## dataframe to  csv

In [38]:
df.to_csv("a.csv")