In this Assignment we will be working on Vehicle dataset from cardekho Dataset . This dataset contains information about used cars listed on www.cardekho.com. We are going to use for finding predictions of price with the use of Linear regression model.

The datasets consist of several independent variables include:

    Car_Name
    Year
    Selling_Price
    Present_Price
    Kms_Driven
    Fuel_Type
    Seller_Type
    Transmission
    Owner

We are going to use some of the variables which we need for regression models.

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#seaborn
import seaborn as sns
# matplotlib
import matplotlib.pyplot as plt
from sklearn import metrics

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
%cd /content/drive/My Drive/Colab Notebooks/ML_and_NN_course/module 1/Assignment

/content/drive/My Drive/Colab Notebooks/ML_and_NN_course/module 1/Assignment

Replce None with the proper code

In [ ]:
data=None #Read  the CSV file as pandas dataframe

In [ ]:
None # check the head of the dataframe i.e., first few elements

In [ ]:
None # Look how data is using .describe()

In [ ]:
data.columns #check the columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [ ]:
# Create a Scatter plot to visulaize how Selling_Price varies with Kms_Driven
plt.scatter(None,None,alpha=0.7,marker='+')
plt.title("KM driven v/s Selling Price")
plt.xlabel("Kilometers Driven")
plt.ylabel("Selling Price")
plt.show()

In [ ]:
# Create a Scatter plot to visulaize how Selling_Price varies with Present_Price
plt.scatter(None,None,alpha=0.7,marker='+')
#Add label and title
plt.show()

## Prepare the  dataset

In [ ]:
print(data.Fuel_Type.value_counts(),"\n")
print(data.Seller_Type.value_counts(),"\n")
print(data.Transmission.value_counts())

Petrol    239
Diesel     60
CNG         2
Name: Fuel_Type, dtype: int64

Dealer        195
Individual    106
Name: Seller_Type, dtype: int64

Manual       261
Automatic     40
Name: Transmission, dtype: int64

since the values of these columns are words(/string). We have to convert them to numerical values inorder to feed them to the model

We are going to use LabelEncoder from sklearn https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

In [ ]:
from sklearn.preprocessing import LabelEncoder
fuel_encoder=LabelEncoder() # Encoding fuel Column
data["Fuel_Type"]=fuel_encoder.fit_transform(data.Fuel_Type) #Fit label encoder and return encoded labels
#inverse_transform ->Transform labels back to original encoding. E.g, fuel_encoder.inverse_transform(data.Fuel_Type)

In [ ]:
data.head() # Fuel_Type column changed to numerical values

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission  Owner
0     ritz  2014           3.35  ...       Dealer        Manual      0
1      sx4  2013           4.75  ...       Dealer        Manual      0
2     ciaz  2017           7.25  ...       Dealer        Manual      0
3  wagon r  2011           2.85  ...       Dealer        Manual      0
4    swift  2014           4.60  ...       Dealer        Manual      0

[5 rows x 9 columns]

In [ ]:
seller_en=LabelEncoder()
data["Seller_Type"]= seller_en.fit_transform(data["Seller_Type"])

In [ ]:
trmn_en=LabelEncoder()
data["Transmission"]=None

In [ ]:
data.head() # Check if all the columns have numerical values (except car_name)

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission  Owner
0     ritz  2014           3.35  ...            0             1      0
1      sx4  2013           4.75  ...            0             1      0
2     ciaz  2017           7.25  ...            0             1      0
3  wagon r  2011           2.85  ...            0             1      0
4    swift  2014           4.60  ...            0             1      0

[5 rows x 9 columns]

In [ ]:
y=None # Select the selling price as y
x=data.drop(["Selling_Price","Car_Name"],axis=1) # Since name of the car does not seem to help in predicting

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=None 
print("x train: ",x_train.shape)
print("x test: ",x_test.shape)
print("y train: ",y_train.shape)
print("y test: ",y_test.shape)

x train:  (240, 7)
x test:  (61, 7)
y train:  (240,)
y test:  (61,)

## Train the model

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize=True)

In [ ]:
lr.fit(x_train,y_train,)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [ ]:
predictions=None #predictions on test examples
test_error=metrics.mean_absolute_error(y_test,predictions)
print("Mean absolute error on Test set: ",test_error)

predictions=lr.predict(x_train)
training_error=None #calculate mean absolute error based on y_train and predictions
print("Mean absolute error on Training set: ",training_error)

In [ ]:
data.iloc[0]

Car_Name          ritz
Year              2014
Selling_Price     3.35
Present_Price     5.59
Kms_Driven       27000
Fuel_Type            2
Seller_Type          0
Transmission         1
Owner                0
Name: 0, dtype: object

In [ ]:
x.head()

   Year  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  Transmission  Owner
0  2014           5.59       27000          2            0             1      0
1  2013           9.54       43000          1            0             1      0
2  2017           9.85        6900          2            0             1      0
3  2011           4.15        5200          2            0             1      0
4  2014           6.87       42450          1            0             1      0

In [ ]:
Year            =  2014
Present_Price   =  5.59
Kms_Driven      = 27000
Fuel_Type       =     2
Seller_Type     =     0
Transmission    =     1
Owner           =     0

In [ ]:
my_car=None #Create numpy array of input

In [ ]:
print("predicted Value:",lr.predict(my_car.reshape(1,-1))) #Predicting the value